.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: var(--background-tertiary);
  border-radius: 0.75rem;
  padding: 1.5rem;
  height: 80%;
  width: 28%;
  display: flex;
  flex-direction: column;
}

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.modal-header {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 1.75rem;
}

.modal-header h2 {
  font: var(--title);
  color: var(--content-primary);
}

.modal-header p {
  font: var(--paragraph-medium);
  color: var(--content-secondary);
}

.close-modal {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--content-primary);
  align-self: flex-start;
  padding-bottom: 5rem;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.modal-form-group {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.modal-form label {
  font: var(--label-medium);
  color: var(--content-primary);
}

.modal-form-group input {
  background: none;
  border: none;
}

.div-input {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.7rem;
  border-radius: 0.6rem;
  border: 1px solid var(--border-primary);
}

.div-input:hover {
  border-color: var(--content-secondary);
}

.div-input:focus-within {
  border-color: var(--background-brand);
}

.div-input input:focus-within {
  outline: none;
  color: var(--content-primary);
}

.div-input input {
  font: var(--paragraph-medium);
  color: var(--content-secondary);
  width: 100%;
}

.group-service {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

#service {
  background: none;
  border: 1px solid var(--border-primary);
  padding: 0.7rem 3rem 3rem 0.7rem;
  color: var(--content-secondary);
  border-radius: 0.6rem;
  font: var(--paragraph-medium);
}

#service:hover {
  border-color: var(--content-secondary);
}

#service:focus {
  border-color: var(--background-brand);
  outline: none;
  color: var(--content-primary);
}

.datetime {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.datetime-input {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.6rem;
  border-radius: 0.6rem;
  border: 1px solid var(--border-primary);
}

.datetime-input:hover {
  border-color: var(--content-secondary);
}
.datetime-input:focus-within {
  border-color: var(--background-brand);
}

#time,
#date {
  background: none;
  border: none;
  color: var(--content-secondary);
  font: var(--paragraph-medium);
  width: 100%;
}

#time::-webkit-calendar-picker-indicator {
  opacity: 0;
}

#time:focus {
  outline: none;
}

#button-schedule {
  background-color: var(--background-brand);
  color: var(--background-primary);
  font: var(--label-large);
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 2rem;
}

#button-schedule:hover {
  background-color: var(--background-highlights);
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .modal {
    width: 90%;
  }

  .modal-content {
    padding: 1rem 0.5rem;
  }
}
