h1 {
  font: var(--title);
  color: var(--content-primary);
}

#header-p p {
  font: var(--paragraph-medium);
  color: var(--content-secondary);
}

#header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

#div-date {
  border: 1px solid var(--border-divisor);
  display: flex;
  align-items: center;
  gap: 0.2rem;
  border-radius: 0.5rem;
  padding: 0.75rem 0.7rem;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

#div-date:hover {
  border-color: var(--content-secondary);
}

.periods {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.period {
  background-color: var(--background-tertiary);
  border-radius: 0.5rem;
}

.period-title {
  font: var(--label-large);
  color: var(--content-primary);
}

.period-time {
  font: var(--label-large);
  color: var(--content-secondary);
}

.period-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
  border-bottom: 1px solid var(--border-divisor);
}

.period-header div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.schedule-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.schedule-hour {
  font: var(--label-medium);
  color: var(--content-primary);
}

.schedule-client strong {
  font: var(--label-small);
  color: var(--content-primary);
}

.schedule-client span {
  font: var(--paragraph-small);
  color: var(--content-secondary);
}

.schedule-service {
  font: var(--paragraph-small);
  color: var(--content-secondary);
}

.schedule-remove {
  font: var(--link);
  color: var(--content-tertiary);
  background: none;
  border: none;
}

.schedule-remove:hover {
  color: var(--content-primary);
  text-decoration: underline;
  cursor: pointer;
}

.schedule-list {
  list-style: none;
}

.schedule-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.6rem;
  border-bottom: 0.5px solid var(--border-divisor);
}

.schedule-item:first-child {
  padding-top: 1.8rem;
}

.schedule-item:last-child {
  border-bottom: none;
  padding-bottom: 1.8rem;
}

#new-schedule {
  position: fixed;
  bottom: 2.2rem;
  right: clamp(1rem, calc((100vw - 48rem) / 2 + 1rem), 5rem);
  background-color: var(--background-brand);
  color: var(--background-primary);
  font: var(--label-large);
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.4rem;
  box-shadow: 0 0 1.5rem rgba(146, 130, 250, 0.35);
}

#new-schedule:hover {
  background-color: var(--background-highlights);
  cursor: pointer;
}

@media (max-width: 600px) {
  main {
    padding-right: auto;
  }
  #header-main {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .periods {
    gap: 0.8rem;
  }

  .schedule-item {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    padding: 1rem 0;
  }

  .schedule-info {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-left: 2rem;
    gap: 0.7rem;
  }

  .schedule-client {
    display: flex;
    gap: 0.3rem;
  }

  .schedule-client span {
    display: flex;

    gap: 0.2rem;
  }

  .schedule-service {
    margin-left: 2rem;
    align-self: flex-start;
  }

  .schedule-remove {
    align-self: flex-end;
    margin-right: 2rem;
  }

  #new-schedule {
    position: static;
    margin: 1.5rem auto;
    display: block;
  }
}
